<div class="row">
    <div class="col-mid-12 text-center">
        <h3>Change console name for <%= @console.name %></h3>
        <p>Warning: You will have to add all your games again for this console!</p>
    </div>
</div>
<form action="/consoles/<%= @console.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<div class="form-group text-center">
    <label for="name">Name:</label>
    <input type="text" name="name" value="<%= @console.name %>">
</div>
<div class="form-group text-center">
    <input type="submit" class="btn btn-default" value="Update" role="button">
</div>
</form>