<div style="margin: auto; width: 60%;">
    <h1>Consoles</h1>
    
    <% @user.consoles.each do |c| %>
        <a href="/consoles/<%= c.id %>"><%= c.name %></a><br>
    <% end %>
    <br><br>
    <form action="/consoles" method="post">
        <label>New Console: <input type="text" name="name"></label>
        <input type="submit" value="Add Console">
    </form>
    <br><br>
    <a href="/logout">Log Out</a>
</div>
