<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>

    <body style="background-color: lightgreen;">
        <div class="container">
            <div class="page-header">
                <h1>Video Game Library</h1>      
                <p>Keep track of your consoles.</p>      
                <p>Keep track of your games.</p>      
            </div>
        </div>
        <%= yield %>
    </body>
</html>