<h1>Sign Up</h1>
<form action="/signup" method="post">
    <input type="text" name="username" placeholder="Username:">
    <input type="text" name="email" placeholder="E-Mail:">
    <input type="password" name="password" placeholder="Password:">
    <input type="submit" value="Sign Up">
</form>
<a href="/">Log In</a>
